h1,h2,h3,h4,h5,h6{  font-family: 'Michroma'}
body{ height:100;width:100%}
.mycontainer{

height:100%;
width:100%;
background-color: black;

}
.landingpage{height:100%;
    width:100%;
    background-image: url(../images/drums3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    text-align:center;
    background-attachment: fixed;
    margin-top: auto;
}
.about{
    height:100%;
    width:100%;
    text-align: center;
    background-image: url(../images/about.jpg);
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: auto;
}

.tracks{
    height:100%;
    width:100%;
    background-color: black;

}
.videos{

    height:100%;
    width:100%;
    background-color: black;
    overflow: hidden;
    text-align: center;
    background-image: url(../images/open-door.jpg);
    background-repeat: no-repeat;
    background-position: center;'
    background-attachment: fixed;

    margin:auto;

}
.media{
    height:50%;
    width:100%;
}

.overlayvideos{
     height:100%;
    width:100%;
    opacity: 0.9;
    background-color: black;
    color:white;


}
.dates{
    height:100%;
    width:100%;
    background-color: black;
    color:white;
    background-image: url(../images/tour.jpg);
    background-position: center;
    background-size: cover;
    margin-top: auto;
}

.overlayabout{
    height:100%;
    width:100%;
    opacity: 0.9;
    background-color: black;
    color:white;



}

.socialmedia{

    height:40%;
    width:100%;
/*    background-image: url(../images/contact2.jpg);*/
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    background-color: white;
    opacity: 0.7;
    color:black;

}

.overlaysocialmedia{
    height:100%;
    width:100%;
    opacity: 0.9;
    background-color: black;
    color:black;


}










i {
    font-size: 100px;

}

.sponsors{
    color:white;
    width:100%;
    height:10%;
    background-color: black;
}
.contacts{
    width:100%;
    height:70%;
    background-color: black;
/*    background-image:url(../images/contact.jpg);*/
    background-attachment: fixed;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
  background:#3498db;
}

#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:30px;
}

#form-div {
	background-color:#3c3c3c;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-left: -260px;
}

.feedback-input {
	opacity:0.9;
	color:black;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid white;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: black;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}

.submit:hover {
	color: #3498db;
}

.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
/*youtube video*/
@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);
body{
  background:#2c3e50;
  margin:0 auto;
  padding:0;
  text-align:center;
}
h1{
  text-align:center;
  color:#ecf0f1;
  font-family:'Racing Sans One', cursive;
  text-shadow:0 2px 2px #0c0e50;
}
.youtube_videos{
  list-style:none;
  margin:0 auto;
  display:block;
  padding:0;
}
.youtube_videos .youtube{
  display:inline-block;
  margin-bottom:1em;
  margin-right:0.5em;
  margin-left:0.5em;
  margin-top:0;
  
}
.youtube,.thumb{
  width:380px;
  height:250px;
  cursor:pointer;
  position:relative;
  -webkit-box-shadow:0 0.5px 2px #1D242B;
  -moz-box-shadow:0 0.5px 2px #1D242B;
  box-shadow:0 0.5px 2px #1D242B;
}
.youtube_video{
  width:385px;
  height:250px;
}
.thumb,.youtube_video{
  padding:5px;
  background:#34495e;
  border:0;
  outline:0;
}
.youtube:after{
  content:"PLAY THIS VIDEO";
  position:absolute;
  top:5px;
  left:5px;
  width:370px;
  height:240px;
  padding:0;
  margin:0;
  padding:5px;
  background:rgba(38, 180, 174, 0.66);
  text-align:center;
  line-height:250px;
  font-family:'Racing Sans One', cursive;
  color:transparent;
  -webkit-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease;
  -o-transition:all 0.8s ease;
  transition:all 0.8s ease;
}
.youtube:hover:after{
  top:110px;
  left:110px;
  width:165px;
  height:40px;
  line-height:40px;
  background:#34495e;
  -webkit-transition:all 0.8s ease;
  -moz-transition:all 0.8s ease;
  -o-transition:all 0.8s ease;
  transition:all 0.8s ease;
  color:#ecf0f1;
}


/* = Responsive comming soon :)
---------------------------------*/
/* Desktop */
@media (min-width:980px) {}
/* Mobile */
@media (max-width:480px) {}
/* Tablet */
@media (max-width:767px) {}
@media (min-width:768px) and (max-width:979px) {}