h1,h2,h3,h4,h5,h6{  font-family: 'Michroma'}
body{ height:100;width:100%}
.mycontainer{

height:100%;
width:100%;
background-color: black;

}
.landingpage{height:100%;
    width:100%;
    background-image: url(../images/backgroundimages.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    text-align:center;
}
.about{
    height:50%;
    width:100%;
    text-align: center;
}
.videos{

    height:100%;
    width:100%;
    background-color: white;
    overflow: hidden;
    text-align: center;

}
.media{
    height:50%;
    width:100%;
}
.dates{
    height:50%;
    width:100%;
}
