h1,h2,h3,h4,h5,h6{  font-family: 'Michroma'}
body{ height:100;width:100%}
.mycontainer{

height:100%;
width:100%;
background-color: black;

}
.landingpage{height:100%;
    width:100%;
    background-image: url(../images/drums3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    text-align:center;
    background-attachment: fixed;
}
.about{
    height:100%;
    width:100%;
    text-align: center;
    background-image: url(../images/about.jpg);
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.videos{

    height:100%;
    width:100%;
    background-color: black;
    overflow: hidden;
    text-align: center;
    background-image: url(../images/open-door.jpg);
    background-repeat: no-repeat;
    background-position: center;'
    background-attachment: fixed;

}
.media{
    height:50%;
    width:100%;
}

.overlayvideos{
     height:100%;
    width:100%;
    opacity: 0.9;
    background-color: black;
    color:white;


}
.dates{
    height:100%;
    width:100%;
    background-color: black;
    color:white;
    background-image: url(../images/tour.jpg);
    background-position: center;
    background-size: cover;
}

.overlayabout{
    height:100%;
    width:100%;
    opacity: 0.9;
    background-color: black;
    color:white;



}

.socialmedia{

    height:50%;
    width:100%;
/*    background-image: url(../images/contact2.jpg);*/
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    background-color: white;
    opacity: 0.7;
    color:black;

}

.overlaysocialmedia{
    height:100%;
    width:100%;
    opacity: 0.9;
    background-color: black;
    color:black;


}










i {
    font-size: 100px;

}
